html {
	font-family: 'Muli', sans-serif;
	font-size: 20px;
}
padding {

}
p,li,h1 {
  color: DimGrey;
}
h1 {
	text-align: center;
}
p,li {
	text-align: center;
}
#p1 {

}
.img {
	img-align: right;
	width: 600px;
}
#First-a {
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: teal;
	font-weight: 750;
}
.head-url{
	padding-left: 550px;
	color: white;
}
