html {
	font-family: 'Muli', sans-serif;
	font-size: 20px;
}
body {
	
	background-size: cover;
}
h1 {
	text-align: center;
}	
ul {
	text-align: center;
}
#first-a {
	padding-top: 5px;
	padding-bottom: 10px;
	font-weight: 750;
	text-shadow: 3px 3px 3px black;
}
.head-url{
	padding-left: 500px;
	color: white;
}
#main-a {
	color: white;
  width: 900px;
  margin: 0 auto;
  background-color: black;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
#img1 {
	width: 900px;
}
#scroll{
	width: 600px;
	display: block;
	margin: 0 auto;
}
#video {
	color: white;
width: 800px;
  margin: 0 auto;
  background-color: royalblue;
  padding: 0 20px 20px 20px;
  border: 5px solid royalblue;
}
#vid1 {
	width: 700px;
}
#vid2 {
	width: 700px;
}
