html {
	font-family: 'Muli', sans-serif;
	font-size: 20px;
}
padding {

}
p,li,h1 {
  color: DimGrey;
}
h1 {
	text-align: center;
}
p,li {
	text-align: center;
}
#p1 {

}
.img {
	img-align: center;
	width: 600px;
}
